<h1 style="padding: 0 20px; color: #616161;text-align: center;">
  Olá {{userFirstName}}, sua matrícula foi confirmada!
</h1>
<p>
  Confira os detalhes da sua inscrição logo abaixo:<br />
  <br />
  <strong>Plano:</strong> {{planTitle}}<br />
  <strong>Valor do plano: </strong> {{monthlyPrice}} (a/m) <br />
  <strong>Data de início:</strong> {{startDate}}<br />
  <strong>Data de término:</strong> {{endDate}}<br />
</p>
